@media (max-width: 767px) {
    body {
        padding-right: 0;
        padding-left: 0;
    }
}

body {
    padding-top: 50px;
}

#masthead {
    min-height: 250px;
}

#masthead h1 {
    font-size: 30px;
    line-height: 1;
    padding-top: 20px;
}

#masthead .well {
    margin-top: 8%;
}

@media only screen and (max-device-width: 768px) {
    h2 {
        font-size: 15pt;
        padding-bottom: 8px;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 768px) {
    #masthead h1 {
        font-size: 50px;
    }
}

.navbar-bright {
    background-color: #111155;
    color: #fff;
}
