.navbar-default {
    background: none repeat scroll 0 0 white;
    border-top: 3px solid #FFA408;
}
.navbar-default .navbar-nav li.active a {
    background-color: #FFA408;
    color: #FFFFFF;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}
.navbar .navbar-collapse {
    text-align: center;
}
.buddy_logo {
    margin-top: 30px;
}
.buddy1 {
    background-repeat: no-repeat;
}
.buddy1 div {
    margin-top: -150px;
}
.buddy2 {
    background-position: right center;
    background-repeat: no-repeat;
}
.row.buddy.buddy3 {
    background-repeat: no-repeat;
    margin-bottom:0;
    border-bottom:none;
}
.row.buddy {
    margin-bottom: 70px;
    border-bottom:1px solid #F5F5F5;
    padding-bottom:80px;
}
#sidebar.affix {
    z-index: 10;
}
footer {
z-index:100;
background: rgb(255,153,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmOTkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmE0MDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(255,153,0,1) 0%, rgba(255,164,8,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,153,0,1)), color-stop(100%,rgba(255,164,8,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,153,0,1) 0%,rgba(255,164,8,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,153,0,1) 0%,rgba(255,164,8,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,153,0,1) 0%,rgba(255,164,8,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,153,0,1) 0%,rgba(255,164,8,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9900', endColorstr='#ffa408',GradientType=1 ); /* IE6-8 */


    border-top: 10px solid #FFA408;
}

.footer-row h2 {color:#D13838;border-color:#D13838;padding-top:30px;margin-bottom:1em;}

.footer-row dd,  .footer-row p {}

.footer-row dt {color:#D13838;}

dt {    color: #D13838;}

h1, h2, h3, h4 {
    font-family: 'Bevan',cursive;
}
.nav > li > a {
    color: #000003;
    font-size: 13pt;
    font-weight: 200;
    line-height: 14pt;
}
.nav > li.active > a {
    font-weight: bold;
}
h2 {
    border-bottom: 4px dotted #F5F5F5;
    color: #3FA9F5;
    line-height: 1.2em;
    margin-bottom: 15px;
    padding-bottom: 15px;
}
body {
    background: -moz-linear-gradient(left center , #FFFFFF 10%, #F4F9FF 91%) repeat scroll 0 0 transparent;
}

    
body {

background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5MSUiIHN0b3AtY29sb3I9IiNmNGY5ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgba(255,255,255,1) 10%, rgba(244,249,255,1) 91%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(10%,rgba(255,255,255,1)), color-stop(91%,rgba(244,249,255,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 10%,rgba(244,249,255,1) 91%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(255,255,255,1) 10%,rgba(244,249,255,1) 91%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(255,255,255,1) 10%,rgba(244,249,255,1) 91%); /* IE10+ */
background: linear-gradient(to right,  rgba(255,255,255,1) 10%,rgba(244,249,255,1) 91%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f9ff',GradientType=1 ); /* IE6-8 */
}

.nav > li > a:hover {background:none;}

.nav > li.active > a  {background:none;}
#sidebar {margin-bottom:70px;margin-top:30px;}