# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
site/

# Gradle
byte-buddy-gradle-plugin/build/
.gradle/

# Shade plugin
dependency-reduced-pom.xml

# Android
*/gen/*
