# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
site/

# Gradle
.gradle/
build/

# jRebel
rebel.xml

# Shade plugin
dependency-reduced-pom.xml
