# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
site/
maven-wrapper.jar
maven-checksum-extension.jar

# Gradle
.gradle/
build/
!**/src/**/build/
gradle-*-bin.zip
gradle-wrapper.jar

# Shade plugin
dependency-reduced-pom.xml

# Versions plugin
pom.xml.versionsBackup

# Release plugin
pom.xml.releaseBackup
release.properties

# Android
*/gen/*

# JVM
.attach*