<html lang="en" style="overflow-x:hidden;" data-ng-app="byteBuddy">
<head>
    <title>Byte Buddy - runtime code generation for Java</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="icon" href="images/favicon.png" type="image/png"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link href="css/custom.css" rel="stylesheet"/>
    <link href="http://fonts.googleapis.com/css?family=Bevan" rel="stylesheet" type="text/css"/>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="css/bootply.css" rel="stylesheet"/>
</head>
<body>

<header class="navbar navbar-default navbar-fixed-top" role="Banner" data-ng-controller="menuController">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-ng-click="toggleCollapse()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#/" class="navbar-brand">
                <img src="images/logo-text.png" width="132px" alt="logo text"/>
            </a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation" data-collapse="isCollapsed()">
            <ul class="nav navbar-nav">
                <li data-ng-repeat="item in menuItems"
                    data-ng-class="activeClass(item)">
                    <a data-ng-href="{{item.target}}"
                       data-ng-click="collapse()"
                       href="#">{{item.name}}</a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<div class="container" style="margin: 10px 0;">
    <div data-ng-view="" scroll="true"></div>
</div>

<footer>
    <div class="container">
        <div class="row footer-row">
            <div class="col-md-4 .visible-md visible-lg">
                <img style="margin:10px; margin-top:30px; float:none; width:100%;"
                     src="images/logo-orange.png"
                     alt="logo-orange"/>
            </div>
            <div class="col-md-6">
                <h2 id="support">Need for support?</h2>
                <dl>
                    <dt>Bugs and feature requests</dt>
                    <dd>
                        You can register any bug or misbehavior in Byte Buddy's
                        <a href="https://github.com/raphw/byte-buddy/issues">issue tracker</a>. If possible, please
                        provide a code sample that reproduces the bug. Furthermore, you should include information on
                        the Java version that you were using. If you have a suggestion for a new feature, you can also
                        use the <a href="https://github.com/raphw/byte-buddy/issues">issue tracker</a>. Thank you!
                    </dd>
                </dl>
                <dl>
                    <dt>Development</dt>
                    <dd>
                        If you have fixed a bug or developed a feature for Byte Buddy that you want to share, simply
                        create a <a href="https://github.com/raphw/byte-buddy/pulls">pull request</a> for it. If you
                        are planning to implement an extensive feature for Byte Buddy, please get in touch before.
                        This way, we can coordinate the development process. You can find more information on our
                        <a href="#/develop">development page</a>. Thank you for improving Byte Buddy!
                    </dd>
                </dl>
                <dl>
                    <dt>Get in touch and share</dt>
                    <dd>
                        Byte Buddy is maintained by Rafael Winterhalter and was first published in 2014. Get in touch by
                        a social media of your choice or tell the world about Byte Buddy.<br/>

                        <div class="btn-group" data-ng-controller="socialMediaController" style="padding-top: 7px;">
                            <a href="{{icon.target}}">
                                <i data-ng-repeat="icon in icons" class="media-object social-icon {{icon.style}}"></i>
                            </a>
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>Thank-you note</dt>
                    <dd>
                        I want to thank <a href="http://www.kantega.no">Kantega AS</a> for their financial support of
                        this project. I further want to thank <a href="http://www.vincentbauer.com">Vincent Bauer</a>
                        who created Byte Buddy's logo and design.
                    </dd>
                </dl>
                <dl>
                    <dt>Legal information</dt>
                    <dd>
                        2014 &copy; Rafael Winterhalter, Kantega AS, Kirkegata 5, 0153 Oslo, Norway
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</footer>

<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
<script src="http://code.angularjs.org/1.2.9/angular-route.min.js"></script>
<script src="js/ui-bootstrap-tpls-0.10.0.min.js"></script>
<script src="js/angular-scroll.min.js"></script>
<script src="js/angular-affix.js"></script>
<script src="js/app.js"></script>

</body>
</html>
