<a href="https://github.com/raphw/byte-buddy">
    <img style="position: absolute; top: 0; left: 0; border: 0; z-index: 9999;"
         src="https://camo.githubusercontent.com/8b6b8ccc6da3aa5722903da7b58eb5ab1081adee/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f6f72616e67655f6666373630302e706e67"
         alt="Fork me on GitHub"
         data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_orange_ff7600.png">
</a>

<div class="row col-md-offset-1 col-md-10">
    <div class="content">
        <div ph-txt="12p5s"></div>
    </div>
</div>
