name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 1"
permissions: read-all
jobs:
  hotspot-ea:
    name: HotSpot (EA)
    runs-on: ubuntu-24.04
    needs: [ extended ]
    continue-on-error: true
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 26-ea
          distribution: temurin
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pjava26
        continue-on-error: false
  hotspot-supported:
    name: Any (supported)
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04, macos-14, windows-2022 ]
        java: [ 8, 11, 17, 21, 25 ]
    runs-on: ${{ matrix.os }}
    needs: [ extended ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          architecture: x64
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  j9-supported:
    name: Any (supported)
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04, macos-14, windows-2022 ]
        java: [ 8, 11 ]
    runs-on: ${{ matrix.os }}
    needs: [ extended ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java }}
          distribution: adopt-openj9
          architecture: x64
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  hotspot-unsupported:
    name: HotSpot (unsupported)
    strategy:
      fail-fast: false
      matrix:
        java: [ 9, 10, 12, 13, 14, 15, 16, 18, 19, 20, 22, 23, 24 ]
    runs-on: ubuntu-24.04
    needs: [ extended ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          architecture: x64
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  hotspot-32:
    name: HotSpot (32 bit)
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-24.04, windows-2022 ]
        java: [ 8 ]
    runs-on: ${{ matrix.os }}
    needs: [ extended ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          architecture: x86
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  hotspot-legacy:
    name: HotSpot (legacy)
    strategy:
      fail-fast: false
      matrix:
        java: [ 6, 7 ]
    runs-on: ubuntu-24.04
    needs: [ extended ]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-legacy-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-legacy-maven-
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          architecture: x64
      - name: Build project
        run: ./mvnw -s .mvn/nossl.settings.xml verify -Pintegration -Pjava${{ matrix.java }}
  extended:
    name: Extended build
    runs-on: ubuntu-24.04
    if: github.event_name == 'push'
    steps:
      - uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: >
            github.com:443
            repo.maven.apache.org:443
            raw.githubusercontent.com:443
            javadoc.io:443
            services.gradle.org:443
            release-assets.githubusercontent.com:443
            plugins.gradle.org
            plugins-artifacts.gradle.org:443
            dl.google.com:443
            coveralls.io:443
            docs.oracle.com:443
            docs.gradle.org:443
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 8
          distribution: temurin
          architecture: x64
          cache: maven
      - name: Build project
        run: |
          ./mvnw jacoco:prepare-agent verify jacoco:report coveralls:report \
            -DrepoToken=${{ secrets.coveralls }} \
            -Pextras \
            -Pchecks \
            -Panalysis \
            -Pintegration \
            -Pmulti-release \
            -Pchecksum-enforce
  release:
    name: Release new version
    runs-on: ubuntu-24.04
    needs: [ extended, hotspot-ea, hotspot-supported, j9-supported, hotspot-unsupported, hotspot-32, hotspot-legacy ]
    if: github.event_name == 'push' && startsWith(github.event.head_commit.message, '[release]')
    permissions:
      contents: write
    steps:
      - uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: block
          allowed-endpoints: >
            github.com:443
            repo.maven.apache.org:443
            raw.githubusercontent.com:443
            javadoc.io:443
            services.gradle.org:443
            release-assets.githubusercontent.com:443
            plugins.gradle.org
            plugins-artifacts.gradle.org:443
            dl.google.com:443
            docs.oracle.com:443
            docs.gradle.org:443
            central.sonatype.com:443
            s3.amazonaws.com:443
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: 8
          distribution: temurin
          architecture: x64
          gpg-private-key: ${{ secrets.gpg_secret }}
      - name: Publish new versions
        run: |
          git config user.name "${{ github.event.head_commit.committer.name }}"
          git config user.email "${{ github.event.head_commit.committer.email }}"
          CURRENT_VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout)
          BASE_VERSION=${CURRENT_VERSION%-SNAPSHOT}
          JDK5_VERSION="${BASE_VERSION}-jdk5"
          ./mvnw -B -s .mvn/release.settings.xml release:prepare release:perform \
            -DreleaseVersion=${JDK5_VERSION} \
            -Dtag=byte-buddy-${BASE_VERSION} \
            -Drepository.url=https://${{ github.actor }}:${{ secrets.github_token }}@github.com/${{ github.repository }}.git \
            -Dcentral.username=${{ secrets.central_user }} \
            -Dcentral.password=${{ secrets.central_password }} \
            -Dgpg.passphrase=${{ secrets.gpg_passphrase }} \
            -Dgpg.keyname=B4AC8CDC141AF0AE468D16921DA784CCB5C46DD5 \
            -Dgradle.key=${{ secrets.gradle_key }} \
            -Dgradle.secret=${{ secrets.gradle_secret }} \
            -Ppublish-jdk5 \
            -Pchecksum-enforce
          git checkout byte-buddy-${BASE_VERSION}
          ./mvnw versions:set -DnewVersion=${BASE_VERSION} -DgenerateBackupPoms=false
          ./mvnw -B -s .mvn/release.settings.xml clean deploy \
            -Dcentral.username=${{ secrets.central_user }} \
            -Dcentral.password=${{ secrets.central_password }} \
            -Dgpg.passphrase=${{ secrets.gpg_passphrase }} \
            -Dgpg.keyname=B4AC8CDC141AF0AE468D16921DA784CCB5C46DD5 \
            -Dgradle.key=${{ secrets.gradle_key }} \
            -Dgradle.secret=${{ secrets.gradle_secret }} \
            -Ppublish-jdk8 \
            -Pchecksum-enforce
