name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 1"

jobs:
  hotspot-ea:
    name: HotSpot (EA)
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - uses: actions/setup-java@v2
        with:
          java-version: 17-ea
          distribution: adopt-hotspot
          architecture: x64
      - name: Install JDK and build project
        run: ./mvnw verify -Pjava17
        continue-on-error: false
  any-supported:
    name: Any (supported)
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, macOS-10.15, windows-2019]
        java: [8, 11, 16]
        distribution: [adopt-hotspot, adopt-openj9]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: ${{ matrix.distribution }}
          architecture: x64
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  hotspot-32:
    name: HotSpot (32 bit)
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-18.04, windows-2019]
        java: [8]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          architecture: x86
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  hotspot-unsupported:
    name: HotSpot (unsupported)
    strategy:
      fail-fast: false
      matrix:
        java: [9, 10, 12, 13, 14, 15]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: adopt-hotspot
          architecture: x64
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  hotspot-legacy:
    name: HotSpot (legacy)
    strategy:
      fail-fast: false
      matrix:
        java: [6, 7]
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          architecture: x64
      - name: Build project
        run: ./mvnw -s .mvn/nossl.settings.xml verify -Pintegration -Pjava${{ matrix.java }}
      - uses: actions/upload-artifact@v2
        with:
          name: dist-without-markdown
          path: byte-buddy/byte-buddy-dep/target/surefire-reports
  coverage:
    name: Coverage
    runs-on: ubuntu-18.04
    needs: [hotspot-ea, any-supported, hotspot-unsupported, hotspot-legacy]
    if: github.event_name == 'push'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: adopt-hotspot
          architecture: x64
      - name: Build project
        run: ./mvnw jacoco:prepare-agent verify jacoco:report coveralls:report -DrepoToken=${{ secrets.coveralls }} -Pintegration
  release:
    name: Release new version
    runs-on: ubuntu-18.04
    needs: [coverage]
    if: github.event_name == 'push' && startsWith(github.event.head_commit.message, '[release]')
    steps:
      - uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: adopt-hotspot
          architecture: x64
      - name: Publish new version
        run: |
          export GPG_TTY=$(tty)
          echo "${{ secrets.gpg_secret }}" | gpg --batch --import
          git clone ${{ github.repositoryUrl }} .
          git config user.name "${{ github.event.head_commit.committer.name }}"
          git config user.email "${{ github.event.head_commit.committer.email }}"
          ./mvnw -B -s .mvn/release.settings.xml release:prepare release:perform -Drepository.url=https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git -Dcentral.username=raphw -Dcentral.password=${{ secrets.central_password }} -Dgpg.passphrase=${{ secrets.gpg_passphrase }} -Dgpg.keyname=B4AC8CDC141AF0AE468D16921DA784CCB5C46DD5 -Dgradle.key=${{ secrets.gradle_key }} -Dgradle.secret=${{ secrets.gradle_secret }}
