name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 0 * * 1"
permissions: read-all
jobs:
  hotspot-ea:
    name: HotSpot (EA)
    runs-on: ubuntu-20.04
    continue-on-error: true
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # v3.4.1
        with:
          java-version: 19-ea
          distribution: zulu
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pjava19
        continue-on-error: false
  hotspot-supported:
    name: Any (supported)
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04, macos-11, windows-2022 ]
        java: [ 8, 11, 17, 18 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # v3.4.1
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
          architecture: x64
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  j9-supported:
    name: Any (supported)
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04, macos-11, windows-2022 ]
        java: [ 8, 11 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # v3.4.1
        with:
          java-version: ${{ matrix.java }}
          distribution: adopt-openj9
          architecture: x64
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  hotspot-unsupported:
    name: HotSpot (unsupported)
    strategy:
      fail-fast: false
      matrix:
        java: [ 9, 10, 12, 13, 14, 15, 16 ]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # v3.4.1
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          architecture: x64
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  hotspot-32:
    name: HotSpot (32 bit)
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-20.04, windows-2022 ]
        java: [ 8 ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # v3.4.1
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          architecture: x86
          cache: maven
      - name: Build project
        run: ./mvnw verify -Pintegration -Pjava${{ matrix.java }}
  hotspot-legacy:
    name: HotSpot (legacy)
    strategy:
      fail-fast: false
      matrix:
        java: [ 6, 7 ]
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/cache@0865c47f36e68161719c5b124609996bb5c40129 # v3.0.5
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-legacy-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-legacy-maven-
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # v3.4.1
        with:
          java-version: ${{ matrix.java }}
          distribution: zulu
          architecture: x64
      - name: Build project
        run: ./mvnw -s .mvn/nossl.settings.xml verify -Pintegration -Pjava${{ matrix.java }}
  extended:
    name: Extended build
    runs-on: ubuntu-20.04
    needs: [ hotspot-ea, hotspot-supported, j9-supported, hotspot-unsupported, hotspot-32, hotspot-legacy ]
    if: github.event_name == 'push'
    steps:
      - uses: step-security/harden-runner@dd2c410b088af7c0dc8046f3ac9a8f4148492a95 # V1.4.5
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: >
            github.com:443
            raw.githubusercontent.com:443
            artifactcache.actions.githubusercontent.com:443
            blob.core.windows.net:443
            repo.maven.apache.org:443
            coveralls.io:443
            javadoc.io:443
            docs.oracle.com:443
            docs.gradle.org:443
            plugins.gradle.org:443
            services.gradle.org:443
            downloads.gradle-dn.com:443
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # v3.4.1
        with:
          java-version: 8
          distribution: temurin
          architecture: x64
          cache: maven
      - name: Build project
        run: ./mvnw jacoco:prepare-agent verify jacoco:report coveralls:report -DrepoToken=${{ secrets.coveralls }} -Pextras -Pchecks -Panalysis -Pintegration -Pchecksum-enforce
  release:
    name: Release new version
    runs-on: ubuntu-20.04
    needs: [ extended ]
    if: github.event_name == 'push' && startsWith(github.event.head_commit.message, '[release]')
    permissions:
      contents: write
    steps:
      - uses: step-security/harden-runner@dd2c410b088af7c0dc8046f3ac9a8f4148492a95 # V1.4.5
        with:
          egress-policy: block
          disable-telemetry: true
          allowed-endpoints: >
            github.com:443
            raw.githubusercontent.com:443
            repo.maven.apache.org:443
            javadoc.io:443
            docs.oracle.com:443
            docs.gradle.org:443
            plugins.gradle.org:443
            services.gradle.org:443
            plugins-artifacts.gradle.org:443
            downloads.gradle-dn.com:443
            dl.google.com:443
            jcenter.bintray.com:443
            repository.sonatype.org:443
            s01.oss.sonatype.org:443
      - uses: actions/checkout@2541b1294d2704b0964813337f33b291d3f8596b # v3.0.2
      - uses: actions/setup-java@2c7a4878f5d120bd643426d54ae1209b29cc01a3 # v3.4.1
        with:
          java-version: 8
          distribution: temurin
          architecture: x64
          gpg-private-key: ${{ secrets.gpg_secret }}
      - name: Publish new version
        run: |
          git config user.name "${{ github.event.head_commit.committer.name }}"
          git config user.email "${{ github.event.head_commit.committer.email }}"
          ./mvnw -B -s .mvn/release.settings.xml release:prepare release:perform -Drepository.url=https://${{ github.actor }}:${{ secrets.github_token }}@github.com/${{ github.repository }}.git -Dcentral.username=raphw -Dcentral.password=${{ secrets.central_password }} -Dgpg.passphrase=${{ secrets.gpg_passphrase }} -Dgpg.keyname=B4AC8CDC141AF0AE468D16921DA784CCB5C46DD5 -Dgradle.key=${{ secrets.gradle_key }} -Dgradle.secret=${{ secrets.gradle_secret }} -Pchecksum-enforce
